<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Judith Collins MP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="@Url.Content("~/Content/Navbar.css")" type="text/css" />
</head>
<body>
    <headerbanner>
        <div class="navbar navbar-fixed-top float-none">
            <div class="container banner">
                <div class="navbar-header">
                    <h1 class="bannerTitle">Judith Collins</h1>
                </div>
                <div>
                    <p class="nav">
                        @Html.ActionLink("Home", "Home", "Main", null, new { @class = "navLink" })
                        @Html.ActionLink("Views", "Views", "Main", null, new { @class = "navLink" })
                        @Html.ActionLink("Judith Says", "JudithSays", "Main", null, new { @class = "navLink" })
                        @Html.ActionLink("You Say", "board", "Forum", null, new { @class = "navLink" })
                        @Html.ActionLink("Contact", "Contact", "Main", null, new { @class = "navLink" })
                        @using Microsoft.AspNet.Identity
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.ActionLink("Settings", "ForumSettings", "Forum", routeValues: null, htmlAttributes: new { @class = "navLink"})
                                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "navLink", title = "Manage" })
                                <a class="navLink" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
                            }
                        }
                        else
                        {
                            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "navLink" })
                            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "navLink" })
                        }
                    </p>
                </div>
            </div>
        </div>
    </headerbanner>
    <div class="container body-content">
        @RenderBody()
        <hr/>
        <footer>
            <p>Authorised by Judith Collins MP, Roselands Shopping Ctr, 98 Great South Road, Papakura.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
