@model JACProject.Database.Board

@{
    ViewBag.Title = "Board";
}
<head>

    <link rel="stylesheet" href="@Url.Content("~/Content/ForumStyle.css")" type="text/css" />

</head>
<body class="forumBody" >
    <h1>@Model.name</h1>

    @if (Model.subBoards.Count > 0)
    {
        <div><h5 style="display:inline-block" class="BoardTitle">Boards:</h5><button class="forumActionButton">@Html.ActionLink("New Board", "NewBoard", "Forum", new { preboardID = Model.id }, "")</button></div>

        <div class="boardsWrapper">
            @foreach (var item in Model.subBoards)
            {
                <div class="boardWrapper">
                    <a href="~/Forum/Board?boardID=@item.id.ToString()" style="color:black">
                        <img class="boardImage" src="~/Content/images/Logo.jpg" />
                        <div class="boardNameTile">
                            @item.name
                        </div>
                        <div class="boardDescriptionTile">
                            @item.description
                        </div>
                    </a>
                </div>
            }
        </div>
    }

    <div>
        <h5 style="display:inline-block" class="BoardTitle">Threads:</h5>
        @if (Model.subBoards.Count == 0)
        {
            <button class="forumActionButton">@Html.ActionLink("New Board", "NewBoard", "Forum", new { preboardID = Model.id }, "")</button>
        }
        <button class="forumActionButton">@Html.ActionLink("New Thread", "CreatePost", "Forum", new { boardID = Model.id }, "")</button>
    </div>


    @if (Model.threads != null)
    {
        <div class="boardsWrapper">
            @foreach (var item in Model.threads)
            {
                <div class="boardWrapper">
                    <a href="~/Forum/Threads?threadID=@item.id.ToString()" style="color:black">
                        <img class="boardImage" src="~/Content/images/Logo.jpg" />
                        <div class="boardNameTile">
                            @item.title
                        </div>
                        <div class="boardDescriptionTile">
                            Description
                        </div>
                    </a>
                </div>
            }
        </div>
    }
</body>