@model JACProject.Database.Thread

@{
    ViewBag.Title = "Threads";
}
<head>

    <script>



        window.onload = function (postID) {
            document.getElementById(postID).style.height = document.getElementById(postID).style.height;
        }
    </script>

    <style>

        header {
            background-color: white;
            margin-bottom: 10px;
        }

        div {
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            margin-left: 0px;
            margin-bottom: 0px;
            margin-right: 0px;
            margin-top: 0px;
            display: block;
        }

        .forumActionButton {
            border-radius: 10px 10px 10px 10px;
            margin-bottom: 1%;
            float: right;
            display: inline-block;
        }

        .userInfo {
            position:absolute;
            left: 0px;
            top: 0px;
            bottom: 0px;
            clear: right;
            width: 35%;
            overflow-x: hidden;
            overflow-y:auto;
            padding-left:5px;
            overflow-wrap:break-word;
            display: inline-block;
            padding:10px 10px 10px 10px;
        }

        .postData{
            height: 100%;
            width: 100%;
            display: block;
            text-wrap:normal;
            overflow-x: hidden;
            overflow-y: auto;
            position: relative;
            right: 0px;
            top: 0px;
            bottom: 0px;
        }

        .forumActionButtonsContainer {
            display: block;
        }

        .forumActionButton{
            float: right;
            clear: both;
        }

        .postHeader {
            padding-bottom: 0px;
            margin-bottom: 0px;
            font-size:large;
            border-radius: 10px 10px 0px 0px;
        }

        .postMain{
            padding-top: 0px;
            margin-top: 0px;
            position: relative;
            height:300px;
        }

        .postPanel{
            border-radius:10px 10px 10px 10px;
            padding: 0px 0px 20px 0px;
            margin: 0px;
            width: 100%;
        }
        .postDate
        {
            display: inline-block;
            width:50%;
        }
        .postTitle
        {
            display: inline-block;
            
        }
        .postInfo {
            position: absolute;
            right: 0px;
            top: 0px;
            bottom: 0px;
            width: 65%;
            display: inline-block;
            padding: 5px 5px 5px 5px;
            background-color: white;
            text-wrap: normal;
            overflow-x: hidden;
            overflow-y: auto;
            white-space:normal;
            height:100%;
        }
        .profilePostImage{
            height: 50%;
        }

        .postBlock{
            border-radius:10px 10px 10px 10px;
            height:100%;
        }

        .userName{
            font-size:large;
            margin-bottom:10px;
        }
    </style>
</head>

<body class="container" style="background-color: #318FCD">
    @if (Model.title != null)
    {
        <h2 style="text-align:center">@Model.title</h2>
    }

    <hr style="clear:right" />
    <div>
        <button class="forumActionButton">@Html.ActionLink("New Post", "CreatePost", "Forum", new { threadID = Model.id }, "")</button>
    </div>

    <div style="clear:both">
        @foreach (var item in Model.content)
        {
            <div class="postPanel">
                <div class="postHeader" style="background-color:slategray">
                    <div class="postDate">
                        @item.timeCreated.ToString()
                    </div>
                    <div class="postTitle">
                        @item.title
                    </div>
                </div>
                <Div class="postMain" width="100%">
                    <div class="userInfo" style="background-color:darkslategray; color:white">
                        <div class="userName">
                            @item.creator.name
                        </div>
                        <img class="profilePostImage" src="https://upload.wikimedia.org/wikipedia/commons/3/32/Selwyn_Image_1900.jpg" />
                        <div class="userInformationBlock">
                            Name: ghjklghjkl<br />
                            Location: ghjklkjbvb;<br />
                            Posts: 42<br />
                            Email: <br />
                        </div>
                    </div>
                    <div class="postInfo" style="background-color:lightblue;">
                        <div class="postBlock" style="background-color: white">
                            <pre style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">@item.text</pre>
                        </div>
                    </div>
                </Div>
            </div>
        }
    </div>

    @*@foreach (var item in Model.content)
        {
            <table width="100%">
                <tr>
                    <td style="background-color:black" width="30%">
                        <div>
                            <table>
                                <tr>
                                    <td>@item.creator.name</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td width="70%">
                        <table>
                            <tr style="background-color: aqua">
                                <td colspan="3">@item.title</td>
                            </tr>
                            <tr>
                                <td>@item.text</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        }*@
</body>
