@model JACProject.Database.Thread

@{
    ViewBag.Title = "Threads";
}

<head>

    <link rel="stylesheet" href="@Url.Content("~/Content/ForumStyle.css")" type="text/css" />

    <script>
        window.onload = function (postID) {
            document.getElementById(postID).style.height = document.getElementById(postID).style.height;
        }
    </script>

</head>

<body class="container" style="background-color: #318FCD">
    @if (Model.title != null)
    {
        <h2 style="text-align:center">@Model.title</h2>
    }

    <hr style="clear:right" />
    <div>
        <button class="forumActionButton">@Html.ActionLink("New Post", "CreatePost", "Forum", new { threadID = Model.id }, "")</button>
    </div>

    <div style="clear:both">
        @foreach (var item in Model.content)
        {
            <div class="postPanel">
                <div class="postHeader" style="background-color:slategray">
                    <div class="postDate">
                        @item.timeCreated.ToString()
                    </div>
                    <div class="postTitle">
                        @item.title
                    </div>
                </div>
                <Div class="postMain" width="100%">
                    <div class="userInfo" style="background-color:darkslategray; color:white">
                        <div class="userName">
                            @if (item.creator.nickName != null)
                            {
                                @item.creator.nickName
                            }
                        </div>
                        <img class="profilePostImage" src="@item.creator.profileImageURL" />
                        <div class="userInformationBlock">
                            Location: @item.creator.location<br />
                            Posts:  @item.creator.postCount.ToString()<br />
                                Email: 
                            @if (item.creator.showEmail == true)
                            {
                                @item.creator.name;
                            }
                            else
                            {
                                  <p>Confidential</p>
                            }
                            <br />
                        </div>
                    </div>
                    <div class="postInfo" style="background-color:lightblue;">
                        <div class="postBlock" style="background-color: white">
                            <pre style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">@item.text</pre>
                        </div>
                    </div>
                </Div>
            </div>
        }
    </div>
</body>
